.clearfix
  .Box.Box--y.pull-left
    .l-fork--lg.clearfix.Barra-menu
      span.milli
        span.label.label-brand 1
        = ' '
        a.text-muted(href='#s-content' accesskey='1') Ir para o conteúdo

      .u-verticalSeparator.milli

      span.milli
        span.label.label-brand 2
        = ' '
        a.text-muted(href='#s-menu') Ir para o menu

      .u-verticalSeparator.milli

      //- span.milli
        span.label.label-brand 3
        = ' '
        a.text-muted(href='#') Ir para a busca

      //- .u-verticalSeparator.milli

      span.milli
        span.label.label-brand 4
        = ' '
        a.text-muted(href='#s-footer') Ir para o rodapé

  .Box.Box--y.pull-right
    .l-fork--sm.clearfix.milli-h.milli
      span(style='line-height: 0')
        img(src='/assets/vlibras.png' style='opacity: .7' height=17)
        =' '
        a.micro.text-muted(href='#' data-trigger='trigger' data-html='true' data-container="body" data-toggle="popover" data-placement="bottom" data-content="<p class='text-center'><img src='/assets/vlibras.gif'/></p><p class=text-muted> O conteúdo deste portal pode<br> ser acessível em Libras <br> usando o <a href='http://www.vlibras.gov.br/'>VLibras</a>.</p>") VLIBRAS
      .u-verticalSeparator
      a.micro(href='https://www12.senado.leg.br/institucional/programas/senado-inclusivo/documentos/acessibilidade').text-muted ACESSIBILIDADE
      //- .u-verticalSeparator
      //- a.micro(href='#').text-muted ALTO CONTRASTE
      //- .u-verticalSeparator
      //- a.micro(href='#').text-muted MAPA DO SITE
