mixin thumbs(text, css)
  .col-md-2.u-spacer--lg
    .Mosaico-link
      a(href='https://static.pexels.com/photos/402023/pexels-photo-402023.jpeg')
        img.img-responsive(src='https://static.pexels.com/photos/402023/pexels-photo-402023.jpeg', alt='One')
        .overlay
          .text
            span.glyphicon.glyphicon-zoom-in
mixin mosaico()
  a.Mosaico-link(href='#').Embed.Embed--1by1
    img(src='https://unsplash.it/300/300/?random')
    .overlay
      .text
        span.glyphicon.glyphicon-zoom-in
