.NavGlobal.navbar.navbar-static-top

  .container

    .u-sizeFitAlt

      .dropdown.pull-right
        a.flat.dropdown-toggle(data-toggle='dropdown', href="#")
          .Icon.Icon--menu.Icon--md
          = ' '
          span.u-alignMiddle Portais
        ul.dropdown-menu--dark.dropdown-menu
          include portais

    .u-sizeFit
      a(href='http://www.senado.gov.br/')
        img(src='//www.senado.gov.br/inc/essencial/img/senado.svg', alt='Senado Federal', height='23', width='170')


    .u-sizeFill.text-center
      .hidden-xs
        a.flat(href='http://www12.senado.gov.br/institucional/falecomosenado') Fale com o Senado
