@mosaico-height: 456px;
@banda-width: @mosaico-height / 4;
@painel-width: 1140px;
@mosaico-width: calc(@banda-width * 4 + @painel-width);

.Mosaico {
  overflow: hidden;
}
.Mosaico-container {
  display: flex;
  transform: translateX(-50%);
  left: 50%;
  position: relative;
  width: @mosaico-width;
  height: @mosaico-height;
}
.Mosaico-banda {
  position: relative;
  min-width: @banda-width;
}
.Mask {
  position: absolute;
  background: linear-gradient(to right, #fff 0%, #fff 20%, transparent 100%);
  top: 0;
  left: 0 ;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.Mask--inverse {
  background: linear-gradient(to left, #fff 0%, #fff 20%, transparent 100%);
}
.Mosaico-painel {
  width: @painel-width;
  background-image: url(https://unsplash.it/5000/2000?random);
  background-size: 100% 100%;
  border-width: 2px 0;
  display: flex;
  flex-wrap: wrap;
}
.Mosaico-square:nth-child(5n) {
  width: 20%;
}
.Mosaico-square {
  width: 10%;
  height: 25%;
  transition: background 0.6s ease;
  &:hover {
    background: rgba(255, 255, 255, 0.6);
  }
}
.Mosaico-banda, .Mosaico-square {
  border-right: 3px solid #fff;
}
.Mosaico-square {
  border-bottom: 3px solid #fff;
}
.Mosaico--grid {
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  border-bottom: 2px solid #fff;
}
.Mosaico-banda {
  display: flex;
  flex-direction: column;
  .Embed {
    height: 25%;
  }
}
.Mosaico-link {
  position: relative;
}
.Mosaico-link:hover .img-overlay {
  opacity: 0.5;
}
.Mosaico-Embed {
  height: 25%;
}
.Mosaico-gallery {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  .Mosaico-link {
    border-bottom: 0;
  }
}
.Mosaico-gallery a {
  flex-grow: 1;
  flex-basis: 125px;
  max-width: 200px;
  margin: 5px;
}
.Mosaico-gallery img {
  height: 100%;
  width: 100%;
}
////////////////// extensão componentes senado-css
.l-box--extra {
  padding: 25px;
}
.l-box--screen {
  padding-top: 30px;
  padding-bottom: 30px;
}
.Embed--1by1 {
  padding-bottom: 100%;
}
.Embed--5by2 {
  padding-bottom: 40% !important;
}
.noEmbed {
  height: 70vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  img {
    display: inline-block;
    max-width: 100%;
    height: auto;
  }
}
///////////////// estilo hover das imagens em gerais.
.img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #333;
}
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
////////////// Item carousel
.corousel-header {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  text-shadow: 1px 1px 1px #000;
  line-height: 1.3;
  color: #fff;
  span {
    &:not(:last-child) {
      margin-right: 15px;
    }
    &:not(:first-child) {
      margin-left: 15px;
    }
    &:not(:last-child):after {
      position: absolute;
      content: '|';
      font-size: 16px;
      margin: 0 10px;
    }
  }
  a > {
    color: #fff;
  }
}
///////////////////////////////////// responsive bar
.nav-bar {
  float: right;
  width: 100%;
}
.nav-bar--sty {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  box-shadow: 0px -2px 3px 0px rgba(51,51,51,1);
}
.nav-bar--link {
  float: right;
  padding: 5px 16px;
  border-left:1px solid #ccc;
  position: relative;
  &:after {
    position: absolute;
    left: 0;
    top: 0;
    content:'';
    height: 100%;
    border-left:1px solid #fff;
  }
}
#carousel-custom {
  .carousel-control.right, .carousel-control.left {
    background: none;
  }
  .carousel-inner {
    width: 50%;
    margin: auto;
  }
  .carousel-outer {
      position: relative;
      height: 70vh;
  }
  .carousel-control {
    width: 5%;
  }
  .carousel-indicators {
    width: 100%;
    margin: auto;
    position: static;
    white-space: nowrap;
    li {
      background-color: transparent;
      border-radius: 0;
      display: inline-block;
      height: auto;
      margin: 0 !important;
      width: auto;
      img {
        display: block;
        opacity: 0.5;
      }
    }
    li.active {
      img {
        opacity: 1;
      }
    }
    &:hover img {
    opacity: 0.75;
    }
    &:after, &:before {
      content: '';
      position: absolute;
      height: 100%;
      width: 20px;
      z-index: 99;
    }
    &:after {
      right: 0;
      background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(51,51,51,0.99) 100%);
    }
    &:before {
      left: 0;
      background: linear-gradient(to right, rgba(51,51,51,0.99) 0%,rgba(0,0,0,0) 100%);
    }
  }
  @media screen and (max-width: 768px) {
    .carousel-inner {
      width: 85%;
    }
  }
}
.carousel-wrap {
  position: relative;
  margin: 30px auto 0 auto;
  max-width: 600px;
}
.carousel-buttons {
  max-width: 600px;
  position: relative;
  margin: 30px auto 0 auto;
  text-align: center;
  > a {
    margin: 0 15px;
    color: #999;
    font-size: 1.2em;
    &:hover {
      color: #fff;
    }
  }
  .arrow-left {
    position: absolute;
    left: -45px;
    top: 15px;
  }
  .arrow-right {
    position: absolute;
    right: -45px;
    top: 15px;
  }
}

