extends /design.shell/src/layout

block stylesheets
  link(rel="stylesheet" href="styles/vendors.css")
  link(rel="stylesheet" href="styles/main.css")

block portaltopo

  .Acessibilidade.hidden-xs
    .container
      include pug/partials/acessibilidade

  .container
    include pug/portaltopo

block navglobal
  include pug/partials/navglobal

include pug/partials/mixins

block content
  .Mosaico
    .Mosaico-container
      .Mosaico-banda
        .Mask
        - for (var i = 0; i < 4; i++) {
        .Embed.Embed--1by1: img(src='https://unsplash.it/300/300/?random')
        - }
      .Mosaico-banda
        - for (var i = 0; i < 4; i++) {
        .Embed.Embed--1by1: img(src='https://unsplash.it/300/300/?random')
        - }
      .Mosaico-painel
      .Mosaico-banda
        - for (var i = 0; i < 4; i++) {
        .Embed.Embed--1by1: img(src='https://unsplash.it/300/300/?random')
        - }
      .Mosaico-banda
        .Mask.Mask--inverse
        - for (var i = 0; i < 4; i++) {
        .Embed.Embed--1by1: img(src='https://unsplash.it/300/300/?random')
        - }



  script(src="//code.jquery.com/jquery-3.1.1.min.js")
  script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
  script(src="js/main.js")
