extends /design.shell/src/layout

block stylesheets
  link(rel="stylesheet" href="styles/vendors.css")
  link(rel="stylesheet" href="styles/main.css")

block portaltopo

  .container
    include pug/portaltopo

block navglobal
  include pug/partials/navglobal

include pug/partials/mixins

block content
  .Mosaico.u-spacer--xl
    .Mosaico-container
      .Mosaico-banda
        .Mask
        - for (var i = 0; i < 4; i++) {
        +mosaico
        - }
      .Mosaico-banda
        - for (var i = 0; i < 4; i++) {
        +mosaico
        - }
      .Mosaico-painel
        //- img.Mosaico--grid.hide(src='assets/mask.svg')
        //- - var seed = Math.random()
        //- img(src='https://unsplash.it/5000/2000?random&seed=' + seed)
        - for (var i = 0; i < 40; i++) {
          .Mosaico-square
        - }
      .Mosaico-banda
        - for (var i = 0; i < 4; i++) {
        +mosaico
        - }
      .Mosaico-banda
        .Mask.Mask--inverse
        - for (var i = 0; i < 4; i++) {
        +mosaico
        - }
  .container
    .row
      .col-md-12
        #imaginary_container.u-spacer--lg.l-box--extra(class='+grayless')
          form
            .Arrange
              .Arrange-fill
                input.form-control(type='text', placeholder='insira palavra(s)-chave')
              .Arrange-fit
                a.btn.btn-success(href='resultados.html') Buscar
      .col-md-12.Segments.u-spacer--xl
        .Apex.Apex--default.delta.u-spacer--lg Galeria
      .col-md-12
        .row.u-spacer--xl
          - for (var i = 0; i < 6; i++) {
            .col-md-2.u-spacer
              +thumbs
            - }

        .row.u-spacer--xl
          - for (var i = 0; i < 6; i++) {
            .col-md-2.u-spacer
              +thumbs
            - }
        .row
          - for (var i = 0; i < 6; i++) {
            .col-md-2.u-spacer
              +thumbs
            - }
      .col-md-12.Segments.u-spacer--xl
        .Apex.Apex--default.delta.u-spacer--lg Exposição
      .col-md-12
        .row.u-spacer--xl
          - for (var i = 0; i < 6; i++) {
            .col-md-2.u-spacer
              +thumbs
            - }
        .row.u-spacer--xl
          - for (var i = 0; i < 6; i++) {
            .col-md-2.u-spacer
              +thumbs
            - }
        .row
          - for (var i = 0; i < 6; i++) {
            .col-md-2.u-spacer
              +thumbs
            - }
  script(src="//code.jquery.com/jquery-3.1.1.min.js")
  script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
  script(src="js/main.js")
