extends /design.shell/src/layout

block stylesheets
  link(rel="stylesheet" href="styles/vendors.css")
  link(rel="stylesheet" href="styles/main.css")

block portaltopo

  .container
    include pug/portaltopo

block navglobal
  include pug/partials/navglobal

include pug/partials/mixins

block content
  .container
    .row
      .visible-xs

        navbar.navbar-fixed-bottom
          .navbar-default.nav-bar.nav-bar--sty
            .container.zeta
              .text-right
                a.btn.nav-bar--link(data-toggle="modal" data-target="#filtros")
                  span.glyphicon.glyphicon-equalizer
                a.btn.nav-bar--link(data-toggle="modal" data-target="#buscar")
                  span.glyphicon.glyphicon-search
      .col-md-3.hidden-xs
        aside.l-box.milli.u-spacer--xl(class='+cut')
          +buscar
        aside.l-box.milli.u-spacer--xl(class='+cut')
          +filtros
      .col-md-9
        .row
          .col-md-12
            .alert.alert-success(role='alert')
              span
                | Resultados Encontrados para: &nbsp;
                strong "Plenários"
              span.pull-right: strong 63.268 resultados
          .col-md-12
            #mygallery
              +gallery('https://unsplash.it/800/800?randon')
              +gallery('https://unsplash.it/1280/768?randon')
              +gallery('https://unsplash.it/900/600?randon')
              +gallery('https://unsplash.it/1500/1200?randon')
              +gallery('https://unsplash.it/1780/1240?randon')
              +gallery('https://unsplash.it/2500/600?randon')
              +gallery('https://unsplash.it/1500/900?randon')
              +gallery('https://unsplash.it/600/300?randon')
              +gallery('https://unsplash.it/1600/1600?randon')
              +gallery('https://unsplash.it/300/300?randon')
              +gallery('https://unsplash.it/500/500?randon')
              +gallery('https://unsplash.it/2600/1200?randon')
              +gallery('https://unsplash.it/3200/1600?randon')
              +gallery('https://unsplash.it/800/400?randon')
              +gallery('https://unsplash.it/800/700?randon')
              +gallery('https://unsplash.it/1800/740?randon')
              +gallery('https://unsplash.it/1024/768?randon')
              +gallery('https://unsplash.it/1280/900?randon')
              +gallery('https://unsplash.it/1480/740?randon')
  +modal('filtros')
    +filtros
  +modal('buscar')
    +buscar

  script(src="//code.jquery.com/jquery-3.1.1.min.js")
  script(src="js/main.js")
