extends /design.shell/src/layout

block stylesheets
  link(rel="stylesheet" href="styles/vendors.css")
  link(rel="stylesheet" href="styles/main.css")

block portaltopo

  .container
    include pug/portaltopo

block navglobal
  include pug/partials/navglobal

include pug/partials/mixins

block content
  .full-container.u-spacer--xl.l-box--screen(class='+graydeep')
    .container.u-posRelative
      .row
        .col-md-12
          .Embed.Embed--6by2
            img.img-responsive.img-fluid(src='https://unsplash.it/1280/768?randon')
          +carousel-buttons
  .container
    .row.u-spacer--xl
      .col-md-4.u-spacer
        p.zeta Plenário do Senado
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim ven
        dl
          dt Foto:
          dd João da Silva
          dt Local:
          dd Agência Senado
      .col-md-4.u-spacer
        p
          span.glyphicon.glyphicon-copyright-mark &nbsp;
          | Alguns direitos reservados
        p
          spam.glyphicon.glyphicon-calendar &nbsp;
          i Tirada em 31 de março de 2017
        button.btn.btn-lg.btn-success Baixar
      .col-md-4
        .row
          .col-md-12.u-spacer--lg
            .row
              .col-md-4
                img.img-responsive(src='assets/flickr/NikonD100.png', alt='NikonD100')
              .col-md-8
                .l-letter
                  p.eta: a(href='#' role='camera name') Nikon D5100
                  small 18-105mm f/3.5-5.6
          .col-md-6
            ul.list-unstyled
              li
                img(src='assets/flickr/aperture.svg')
                | &nbsp; f/5.6
              li
                img(src='assets/flickr/exposureTime.svg')
                | &nbsp; 1/60
              li
                img(src='assets/flickr/flash.svg')
                | &nbsp; Flash (auto, fired)
          .col-md-6
            ul.list-unstyled
              li
                img(src='assets/flickr/focal-length.svg')
                | &nbsp; 106.8 mm
              li
                img(src='assets/flickr/iso.svg')
                | &nbsp; 3200
              li
                img(src='assets/flickr/showEXIF.svg')
                a(href='#' data-toggle='modal', data-target='#EXIF') &nbsp; Show EXIF
    .row.u-spacer--xl
      .col-md-12.Segments
        .Apex.Apex--default.delta.u-spacer--lg Fotos Semelhantes
    .row.u-spacer--xl
      .col-md-12
        .row.u-spacer--xl
          - for (var i = 0; i < 6; i++) {
            .col-md-2.col-xs-6.u-spacer--xl
              +thumbs
            - }
    .row.u-spacer--xl
      .col-md-12.Segments
        .Apex.Apex--default.delta.u-spacer--lg Tags
    .row.u-spacer--xl
      .col-md-12.text-center
        ul.list-unstyled.list-inline
          - for (var i = 0; i < 50; i++) {
            li.l-letter: a.label.label-default(href='#') tag
            - }
  +modal('EXIF')
    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

  script(src="//code.jquery.com/jquery-3.1.1.min.js")
  script(src="js/main.js")
