extends /design.shell/src/layout

block stylesheets
  link(rel="stylesheet" href="styles/vendors.css")
  link(rel="stylesheet" href="styles/main.css")

block portaltopo

  .container
    include pug/portaltopo

block navglobal
  include pug/partials/navglobal

include pug/partials/mixins

block content
  .container
    .row
      .col-md-12
        +carousel('vitrine','../assets/slider.jpg', '#vitrine')

  script(src="//code.jquery.com/jquery-3.1.1.min.js")
  script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
  script(src="js/main.js")
