extends /design.shell/src/layout

block stylesheets
  link(rel="stylesheet" href="styles/vendors.css")
  link(rel="stylesheet" href="styles/main.css")

block portaltopo

  .container
    include pug/portaltopo

block navglobal
  include pug/partials/navglobal

include pug/partials/mixins

block content
  .container
    .row
      .col-md-12.u-spacer--xl
        +carousel('vitrine','https://unsplash.it/1200/800?random', '#vitrine','Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,',true, true)
      .col-md-12.Segments.u-spacer--xl
        .Apex.Apex--default.delta.u-spacer--lg Outras Vitrines
      .col-md-12
        .row.u-spacer--xl
          - for (var i = 0; i < 6; i++) {
            .col-md-2.col-xs-6.u-spacer--xl
              +thumbs
            - }
  script(src="//code.jquery.com/jquery-3.1.1.min.js")
  script(src="js/main.js")
